<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" routerLink="create">
    <mat-icon class="s-24 mr-4">add</mat-icon>
    Create New
  </button>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
  <ng-container matColumnDef="cin">
    <th mat-header-cell class="px-12" *matHeaderCellDef> CIN</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell class="px-12" *matHeaderCellDef> photo</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.photo}} </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell class="px-12" *matHeaderCellDef> Nom complet</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.nom + ' ' + element.prenom}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="typembr">
    <th mat-header-cell class="px-12" *matHeaderCellDef> Type</th>
    <td mat-cell class="px-12" *matCellDef="let element"> <div>{{element.typembr}}</div> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cv">
    <th mat-header-cell class="px-12" *matHeaderCellDef> CV</th>
    <td mat-cell class="px-12" *matCellDef="let element">
      <a [href]="element.cv" target="_blank">
        <mat-icon>picture_as_pdf</mat-icon>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell class="px-12" *matHeaderCellDef> Date Naissance</th>
    <td mat-cell class="px-12" *matCellDef="let element">
      {{element.date| date :'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
    <td mat-cell class="px-12 w-120" *matCellDef="let element">
      <button mat-icon-button [routerLink]="element.id + '/edit'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
