<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" routerLink="create">
    <mat-icon class="s-24 mr-4">add</mat-icon>
    Create New
  </button>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
  <ng-container matColumnDef="id">
    <th mat-header-cell class="px-8" *matHeaderCellDef> ID</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell class="px-8" *matHeaderCellDef> Date</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.date| date :'dd/MM/yyyy'}} </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="titre">
    <th mat-header-cell class="px-8" *matHeaderCellDef> titre</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lieu">
    <th mat-header-cell class="px-8" *matHeaderCellDef> lieu</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.lieu}} </td>
  </ng-container>


  <ng-container matColumnDef="actions" stickyEnd>
    <th mat-header-cell class="px-8 w-120" *matHeaderCellDef></th>
    <td mat-cell class="px-12 w-120" *matCellDef="let element">
      <button mat-icon-button [routerLink]="element.id + '/edit'">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onRemoveEvent(element.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
